Arduino/NodeRed-Client
[{"id":"18c77e47.f11812","type":"tab","label":"Test","disabled":false,"info":""},{"id":"4a05d232.1e2164","type":"ui_slider","z":"18c77e47.f11812","name":"","label":"Light","tooltip":"Light Control","group":"840291e1.186158","order":1,"width":0,"height":0,"passthru":true,"outs":"end","topic":"","min":0,"max":"3","step":1,"x":730,"y":340,"wires":[["1a5e7ad8.ffb15d"]]},{"id":"d9297bde.5130e8","type":"ui_text","z":"18c77e47.f11812","group":"840291e1.186158","order":2,"width":0,"height":0,"name":"","label":"Water Container Level","format":"{{msg.payload}}","layout":"row-spread","x":780,"y":200,"wires":[]},{"id":"9e796c68.cd0348","type":"ui_text","z":"18c77e47.f11812","group":"840291e1.186158","order":3,"width":0,"height":0,"name":"","label":"Fertilizer Container Level","format":"{{msg.payload}}","layout":"row-spread","x":790,"y":240,"wires":[]},{"id":"a9ce2075.bdd818","type":"ui_text","z":"18c77e47.f11812","group":"840291e1.186158","order":4,"width":0,"height":0,"name":"","label":"Hygromerter","format":"{{msg.payload}}","layout":"row-spread","x":750,"y":280,"wires":[]},{"id":"38602ee0.fc1c0a","type":"mqtt out","z":"18c77e47.f11812","name":"","topic":"landscape","qos":"","retain":"","broker":"ffb4ab94.4a2c8","x":1110,"y":360,"wires":[]},{"id":"eea74807.367bb","type":"mqtt in","z":"18c77e47.f11812","name":"","topic":"landscape","qos":"2","broker":"ffb4ab94.4a2c8","x":120,"y":280,"wires":[["6071f731.48dec8"]]},{"id":"b664db8.72918a8","type":"debug","z":"18c77e47.f11812","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":550,"y":380,"wires":[]},{"id":"6071f731.48dec8","type":"function","z":"18c77e47.f11812","name":"JSON Converter","func":"return { payload: JSON.parse(msg.payload) };","outputs":1,"noerr":0,"x":300,"y":280,"wires":[["b664db8.72918a8","70f2cf63.07ea4","32700a49.216ef6","fe5eb961.d4ce98"]]},{"id":"1a5e7ad8.ffb15d","type":"function","z":"18c77e47.f11812","name":"JSON Converter","func":"return { payload: { lightState: msg.payload } };","outputs":1,"noerr":0,"x":900,"y":340,"wires":[["38602ee0.fc1c0a"]]},{"id":"70f2cf63.07ea4","type":"function","z":"18c77e47.f11812","name":"hygrometer data","func":"if(msg.payload.hygrometer) {\n    const payload = (msg.payload.hygrometer / 1024 * 100) + '%'\n    return { payload: msg.payload.hygrometer }\n}","outputs":1,"noerr":0,"x":560,"y":280,"wires":[["a9ce2075.bdd818"]]},{"id":"fe5eb961.d4ce98","type":"function","z":"18c77e47.f11812","name":"waterlevel data","func":"if (msg.payload.isWaterContainerDry !== undefined) {\n    const payload = msg.payload.isWaterContainerDry ? 'Low' : 'High';\n    return { payload }\n}","outputs":1,"noerr":0,"x":560,"y":200,"wires":[["d9297bde.5130e8"]]},{"id":"32700a49.216ef6","type":"function","z":"18c77e47.f11812","name":"fertilizerlevel data","func":"if (msg.payload.isFertilizerContainerDry !== undefined) {\n    const payload = msg.payload.isFertilizerContainerDry ? 'Low' : 'High';\n    return { payload }\n}","outputs":1,"noerr":0,"x":570,"y":240,"wires":[["9e796c68.cd0348"]]},{"id":"55f27748.4e68b8","type":"function","z":"18c77e47.f11812","name":"LightState","func":"return { payload: msg.payload.lightState }","outputs":1,"noerr":0,"x":550,"y":340,"wires":[[]]},{"id":"71b82fa2.ba6618","type":"ui_button","z":"18c77e47.f11812","name":"","group":"840291e1.186158","order":4,"width":0,"height":0,"passthru":false,"label":"calibrate","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":740,"y":380,"wires":[["68bd447d.3cac54"]]},{"id":"68bd447d.3cac54","type":"function","z":"18c77e47.f11812","name":"JSON Converter","func":"return { payload: { calibrate: true } };","outputs":1,"noerr":0,"x":900,"y":380,"wires":[["38602ee0.fc1c0a"]]},{"id":"840291e1.186158","type":"ui_group","z":"","name":"Landscape","tab":"9a6a98f6.e5d84","disp":true,"width":"6","collapse":false},{"id":"ffb4ab94.4a2c8","type":"mqtt-broker","z":"","name":"","broker":"m24.cloudmqtt.com","port":"12327","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"9a6a98f6.e5d84","type":"ui_tab","z":"","name":"Smart Garden","icon":"dashboard","disabled":false,"hidden":false}]
