Arduino/NodeRed-Client
[{"id":"6fd03c88.bfc814","type":"tab","label":"Smart Garden","disabled":false,"info":""},{"id":"39f9acb9.da95fc","type":"ui_slider","z":"6fd03c88.bfc814","name":"","label":"Light","tooltip":"Light Control","group":"840291e1.186158","order":1,"width":0,"height":0,"passthru":true,"outs":"end","topic":"","min":0,"max":"3","step":1,"x":730,"y":340,"wires":[["8240ac86.bd3498"]]},{"id":"d3507af2.6344d8","type":"ui_text","z":"6fd03c88.bfc814","group":"840291e1.186158","order":2,"width":0,"height":0,"name":"","label":"Water Container Level","format":"{{msg.payload}}","layout":"row-spread","x":780,"y":200,"wires":[]},{"id":"4ecfa4b0.e2a90c","type":"ui_text","z":"6fd03c88.bfc814","group":"840291e1.186158","order":3,"width":0,"height":0,"name":"","label":"Fertilizer Container Level","format":"{{msg.payload}}","layout":"row-spread","x":790,"y":240,"wires":[]},{"id":"6656ea0c.e05144","type":"ui_text","z":"6fd03c88.bfc814","group":"840291e1.186158","order":4,"width":0,"height":0,"name":"","label":"Hygrometer","format":"{{msg.payload}}","layout":"row-spread","x":750,"y":280,"wires":[]},{"id":"7043f2e2.44ec44","type":"mqtt out","z":"6fd03c88.bfc814","name":"Publisher","topic":"landscape","qos":"","retain":"","broker":"ffb4ab94.4a2c8","x":1160,"y":360,"wires":[]},{"id":"49830c8d.e735dc","type":"mqtt in","z":"6fd03c88.bfc814","name":"Subscriber","topic":"landscape","qos":"2","broker":"ffb4ab94.4a2c8","x":120,"y":280,"wires":[["a5d81c6c.982208"]]},{"id":"bb2b49d0.fcfea","type":"debug","z":"6fd03c88.bfc814","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":550,"y":380,"wires":[]},{"id":"a5d81c6c.982208","type":"function","z":"6fd03c88.bfc814","name":"String to JSON","func":"return { payload: JSON.parse(msg.payload) };","outputs":1,"noerr":0,"x":300,"y":280,"wires":[["bb2b49d0.fcfea","641e220.fd8a4dc","d3de3a83.9d7338","bfec8a03.d18d08"]]},{"id":"8240ac86.bd3498","type":"function","z":"6fd03c88.bfc814","name":"LightState to JSON","func":"return { payload: { lightState: msg.payload } };","outputs":1,"noerr":0,"x":910,"y":340,"wires":[["7043f2e2.44ec44"]]},{"id":"641e220.fd8a4dc","type":"function","z":"6fd03c88.bfc814","name":"hygrometer data","func":"if(msg.payload.hygrometer) {\n    const payload = (msg.payload.hygrometer / 1024 * 100) + '%'\n    return { payload: msg.payload.hygrometer }\n}","outputs":1,"noerr":0,"x":560,"y":280,"wires":[["6656ea0c.e05144"]]},{"id":"bfec8a03.d18d08","type":"function","z":"6fd03c88.bfc814","name":"waterlevel data","func":"if (msg.payload.isWaterContainerDry !== undefined) {\n    const payload = msg.payload.isWaterContainerDry ? 'Low' : 'High';\n    return { payload }\n}","outputs":1,"noerr":0,"x":560,"y":200,"wires":[["d3507af2.6344d8"]]},{"id":"d3de3a83.9d7338","type":"function","z":"6fd03c88.bfc814","name":"fertilizerlevel data","func":"if (msg.payload.isFertilizerContainerDry !== undefined) {\n    const payload = msg.payload.isFertilizerContainerDry ? 'Low' : 'High';\n    return { payload }\n}","outputs":1,"noerr":0,"x":570,"y":240,"wires":[["4ecfa4b0.e2a90c"]]},{"id":"1c889dc8.5388ea","type":"function","z":"6fd03c88.bfc814","name":"LightState","func":"if(msg.payload.lightState) {\n    return { payload: msg.payload.lightState }\n}","outputs":1,"noerr":0,"x":550,"y":340,"wires":[[]]},{"id":"807726b2.87a2f8","type":"ui_button","z":"6fd03c88.bfc814","name":"","group":"840291e1.186158","order":5,"width":0,"height":0,"passthru":false,"label":"calibrate","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":740,"y":380,"wires":[["47a3d9af.4c24d"]]},{"id":"47a3d9af.4c24d","type":"function","z":"6fd03c88.bfc814","name":"Calibrate to JSON","func":"return { payload: { calibrate: true } };","outputs":1,"noerr":0,"x":910,"y":380,"wires":[["7043f2e2.44ec44"]]},{"id":"bb455796.07672","type":"ui_button","z":"6fd03c88.bfc814","name":"","group":"840291e1.186158","order":7,"width":0,"height":0,"passthru":false,"label":"Test Water Pump ","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":690,"y":540,"wires":[["3bf7453d.becc8a"]]},{"id":"3bf7453d.becc8a","type":"function","z":"6fd03c88.bfc814","name":"TestWaterPump to JSON","func":"return { payload: { testWaterPump: true } };","outputs":1,"noerr":0,"x":930,"y":540,"wires":[["7043f2e2.44ec44"]]},{"id":"2f7ce29b.ae6446","type":"ui_button","z":"6fd03c88.bfc814","name":"","group":"840291e1.186158","order":8,"width":0,"height":0,"passthru":false,"label":"Test Fertilizer Pump ","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":690,"y":500,"wires":[["245c3d58.13dbd2"]]},{"id":"245c3d58.13dbd2","type":"function","z":"6fd03c88.bfc814","name":"TestPeriFert to JSON","func":"return { payload: { testPeriFert: true } };","outputs":1,"noerr":0,"x":920,"y":500,"wires":[["7043f2e2.44ec44"]]},{"id":"f8406513.2f0318","type":"ui_text","z":"6fd03c88.bfc814","group":"840291e1.186158","order":6,"width":0,"height":0,"name":"","label":"Pump Demos","format":"","layout":"row-spread","x":680,"y":460,"wires":[]},{"id":"840291e1.186158","type":"ui_group","z":"","name":"Landscape","tab":"9a6a98f6.e5d84","disp":true,"width":"6","collapse":false},{"id":"ffb4ab94.4a2c8","type":"mqtt-broker","z":"","name":"","broker":"m24.cloudmqtt.com","port":"12327","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"9a6a98f6.e5d84","type":"ui_tab","z":"","name":"Smart Garden","icon":"dashboard","disabled":false,"hidden":false}]